.modal-content
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="modal.dismiss()")
      span(aria-hidden="true") &times;
    h4.modal-title Already a Member?

  form.form.form-horizontal(name="form", ng-submit="reallyLogIn(form)", novalidate="novalidate")
    .modal-body
      .form-group.form-group-lg
        label.control-label.col-sm-4 Email
        .col-sm-6
          input.form-control(type="text", name="email_address", ng-disabled="form.$loading" ng-model="user.email_address", placeholder="Email Address", ng-required="true")
          p.text-error(ng-show="form.email_address.$invalid && form.$submitted") Wrong email address.

      .form-group.form-group-lg
        label.control-label.col-sm-4 Password
        .col-sm-6
          input.form-control(type="password", name="password", ng-disabled="form.$loading" ng-model="user.password", placeholder="Password", ng-required="true")
          p.text-error(ng-show="form.password.$invalid && form.$submitted") Wrong password.

    .modal-footer
      button.btn.btn-success(type="submit", ng-disabled="form.$loading") Log in
