.navbar.navbar-default(role="navigation")
  .container-fluid(ng-cloak)
    .row
      .col-sm-8
        a.navbar-brand(ui-sref="root") iReklamo
      .col-sm-4
        .pull-right
          a.navbar-brand(ng-hide="session.online()" ng-click="signUp()") Sign Up
          a.navbar-brand(ng-hide="session.online()" ng-click="logIn()") Log In
          a.navbar-brand(ng-if="session.online()" ng-click="logOut()") Logout

.container-fluid
  div(ui-view="content")
